.auth-body
{
  /* text-align: center; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 112, 220);
}
.bg-white
{
  width: 300px;
}
.br-top
{
  border-radius: 12px 12px 0 0;
}
.br-bottom
{
  border-radius: 0 0 12px 12px;
}
.custom-image {
  max-width: 480px;
  margin-bottom: 50px;
}

.bottom-pad-login{
  padding-top:0px!important;
}

.bottom-pad{
  padding-bottom: 20px!important;
}
.custom-google-button{
  /* border-radius: 10px!important; */
  width: 100%!important;
}

.buttonLogo{
height: 100px;
width: 100px;
}

@media (max-width: 550px) {
  .custom-image {
    width: 320px; 
    margin-bottom: 30px; 
  }
}